
.App {
  padding: 3rem;
}

.title {
  font-family: Gotham;
  margin-bottom: 2rem;
  font-size: 2.5rem;
  text-align: center;
}

.generate-button {
  margin-top: 2rem;
}

.copy-button {
  margin-top: 2rem;
}

.form-field {
  margin-bottom: .5rem;
}

.form-section {
  margin-bottom: .5rem;
  margin-top: 2rem;
}

.form-grid {
  margin: 0 auto;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3, 1fr)
}

@media (max-width: 768px) {
  .form-grid { grid-template-columns: repeat(1, 1fr); }
}

.additional-cell {
  cursor: pointer;
}

.additional-cell input {
  cursor: pointer;
}

.additional-cell div {
  cursor: pointer;
}

.vehicle-container {
  margin-top: 2rem;
}

.vehicle-fields {
  display: flex;
  justify-content: space-between;
}

.vehicle-fields--form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.vehicle-fields__cell {
  width: 100%;
}

.vehicle-fields__cell--form {
  width: 100%;
  padding: 0.3rem;
}

.vehicle-fields__cell--option {
  width: 10%;
}

.additional-cells {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  min-height: 4rem;
}

@media (max-width: 768px) {
  .additional-cells {
    flex-direction: column;
    align-items: flex-start;
  }

  .additional-cell {
    margin-top: 1rem;
  }
}

.add-vehicle-section {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
}

.vehicle-headers {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.import-from-clipboard {
  margin-top: 1.4rem;
}

.import-container {
  margin-top: 2rem;
}
