@font-face {
  font-family: Ascent;
  src: url("fonts/Fontop-Ascent-Pro-Demo-UltraBold.otf") format("opentype");
}

@font-face {
  font-family: Gotham;
  src: url("fonts/GothamBook.ttf") format("truetype");
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
